<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353274519364-k829cjp81fp4cbbnvvela3jpc7jhk7qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353274519364-k829cjp81fp4cbbnvvela3jpc7jhk7qo</string>
	<key>API_KEY</key>
	<string>AIzaSyCZPWjYyYQbtz547o_G5ZxXjOUnEWS5LLM</string>
	<key>GCM_SENDER_ID</key>
	<string>353274519364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seydouxxx.-0-CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-6f887</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-6f887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353274519364:ios:1f31a0068d06149d61c111</string>
</dict>
</plist>